* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 50px!important;
}

ul li{
    list-style-type: none!important;
}

div.footer{
    margin-top: 3em;
    background-color: #eee;
    color: #555;
}

div.website-info{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

div.website-info p{
    margin-bottom: 0;
}

.page-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.base-info{
    margin-top: 20%;
}

.base-info span{
    font-size: large;
    color: black;
    font-weight: bold;
}

.info-list{
    margin-top: 1em;
    margin-left: 4em;
}
.info-list ul li{
    font-size: 16px;
    color: #245269;
}
.security-setting span{
    font-size: large;
    color: black;
    font-weight: bold;
}