.jumbotron{
    background-color: #4F5893;
}

.home-container {
    font-size: 222%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}

.header-text{
    font-size: 188%;
    text-align: center;
    color: #B9BFE4;
    padding-top: 0;
    margin-bottom: 0.5em;
}

div#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

.new_blog_update{
    color: black;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}